

body {
    padding-top: 70px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: darkblue;
    background-image: url(/../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

.mission-style {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.navbar-custom {
    background-color: skyblue;
}

.navbar-default .navbar-brand {
    color: darkblue;
}
#navbar a {
    color: darkblue ;
}

.shop-image{
  max-width: 300px;
  height: 250px;
  border:1px solid #021a40;
}

.shop-title{
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 175%;
  color: darkblue;
}

.shop-space{
    margin-top: 50px;
    margin-bottom: 20px,
    margin-right: 10px;
}

.title-style, .basket-style {
  font-weight: 700;
}

.comment-style {
  font-size: 20px;
  font-weight: 700;
}

.basket-color {
  color: deeppink;
  font-size: 125%;
}

.comment-color {
  color: lime;
  font-size: 125%;
}
