

body {
    padding-top: 70px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: darkblue;
    background-image: url(/../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

.mission-style {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.base-slide {
    background-color: steelblue;
    width: 30%;
}

.navbar-custom {
    background-color: skyblue;
}

.navbar-default .navbar-brand {
    color: darkblue;
}

#navbar a {
    color: darkblue ;
}

.thumbnail {
    width: 350px; // or you could use percentage value for responsive layout
    height: 300px;
    background-color: skyblue;
    /*overflow: auto;*/
}

.image-holder { height: 350px;
}

/*.thumbnail img {
    width:250px;
    height:200px;
}

*/

.shop-image img{
  max-width: 300px;
  height: auto;
  border:1px solid #021a40;
}

.shop-title{
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 175%;
  color: darkblue;
}

/*.shop-space{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 10px;
    float: left;
}
*/
.basket-style {
  font-weight: 700;
}

.title-style {
  font-weight: 1000;
  padding-bottom: 25;
  margin-top: 10;
 }

.comment-style {
  font-size: 20px;
  font-weight: 700;
}

.basket-color {
  color: deeppink;
  font-size: 125%;
}

.comment-color {
  color: lime;
  font-size: 125%;
}
