

body {
    padding-top: 70px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: darkblue;
    background-image: url(/../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

.mission-style {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

form .form-control::-moz-placeholder {
  color: darkblue;
  opacity: 1;
}
form .form-control:-ms-input-placeholder {
  color: darkblue;
}
form .form-control::-webkit-input-placeholder {
  color: darkblue;
}


.base-slide {
    background-color: steelblue;
    width: 30%;
}

.navbar-custom {
    background-color: skyblue;
    opacity: 0.8;
    margin-top: 30px;
}

.navbar-default .navbar-brand {
    color: darkblue;
}

#navbar a {
    color: darkblue ;
}

.shop-back {
  margin-right: 30px;
  margin-top: 100px;
}

.thumbnail {
    width: 75%  ; // or you could use percentage value for responsive layout
    height: 50%;
    background-color: skyblue;
    text-align: center;
    /*overflow: auto;*/
}

.image-holder {
  height: 50%;
}

/*.thumbnail img {
    width:250px;
    height:200px;
}

*/

/*.shop-image img{
  max-width: 200px;
  height: auto;
  border:1px solid #021a40;
}
*/
.shop-image {
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: auto;
  max-width: 200px;
  border:1px solid #021a40;
}


.shop-title{
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  font-size: 175%;
  color: darkblue;
}

/*.shop-space{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 10px;
    float: left;
}
*/
.basket-style {
  font-weight: 700;
}

.title-style {
  font-weight: 1000;
  padding-bottom: 25;
  margin-bottom: 50;
  margin-top: 10;
 }

.comment-style {
  font-size: 20px;
  font-weight: 700;
}

.basket-color {
  color: beige;
  font-size: 125%;
  text-align: left;
}

.comment-color{
  color: beige;
  font-size: 125%;
  text-align: right;
}
