  <h1>TASKET/BASKET</h1>
  <h2>Hello Administrators! Add your shopping websites!</h2>
<form class="form-horizontal" name="userForm" novalidate>
  <div class="form-group" >
    <label for="title" class="col-sm-2 control-label">Website Name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="title" ng-model="title" placeholder="Enter Website Name" required=""/>
      <div ng-show="userForm.$submitted || userForm.title.$touched">
        <span ng-show="userForm.title.$error.required">Title is required.</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="link" class="col-sm-2 control-label">Link</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="link" ng-model="link" placeholder="Enter Website Link" required=""/>
      <div ng-show="userForm.$submitted || userForm.link.$touched">
            <span ng-show="userForm.link.$error.required">Please enter the websites link</span>
      </div>
    </div>
  </div>



<!----WILL NEED TO ADD SOME SORT OF IMAGE UPLOAD---->
<!--   <div class="form-group">
    <label for="web-image" class="col-sm-2 control-label">Link</label>
    <div class="col-sm-10">
      <input type="img" class="form-control" id="web-image" placeholder="Website Image">
    </div>
  </div>
 -->
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="addWebsite()" ng-disabled="userForm.$invalid">Submit New Website</button>
      <a href="#/lofin" class="btn btn-link">Cancel</a>
     </div>
</form>



