  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
              <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">TASKET BASKET</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active" ng-click="logout()"><a href="">Sign-out</a></li>
            <li><a href="/#/shop">Shop</a></li>
            <li><a href="mailto:tasketbasket@gmail.com" target="_blank">Contact</a></li>
          </ul>

    </div>
  </nav>
  <h2>Hello Administrators! Add your shopping websites!</h2>
  <form class="form-group form-horizontal" name="userForm">
    <label for="title" class="col-sm-2 control-label">Company Name</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="company" ng-model="company" placeholder="Enter Company Name" required=""/>
      <div ng-show="userForm.$submitted || userForm.company.$touched">
        <span ng-show="userForm.company.$error.required">Company is required.</span>
      </div>
    </div>
    <label for="link" class="col-sm-2 control-label">Link</label>
    <div class="col-sm-10">
      <input class="form-control" type="url" name="link" ng-model="link" placeholder="Enter Website Link" required=""/>
      <div ng-show="userForm.$submitted || userForm.link.$touched">
            <span ng-show="userForm.link.$error.required">Please enter the websites link</span>
      </div>
    </div>

<!--WILL NEED TO ADD SOME SORT OF IMAGE UPLOAD-->

    <label for="image" class="col-sm-2 control-label">Image</label>
      <div class="col-sm-10">
 <!--        <input type="file" class="form-control" type="file" name="image" accept="image/*" ng-model="image" placeholder="Website Image" />
  -->
      <input class="form-control" type="text" name="image" ng-model="image" placeholder="Enter Website Image" required=""/>
    <div ng-show="userForm.$submitted || userForm.image.$touched">
         <span ng-show="userForm.image.$error.required">Please download the websites image</span>
      </div>
    </div>


    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="addWebsite()"  ng-disabled="userForm.$invalid">Submit New Company Website</button>

      <a href="#/login" class="btn btn-link">Cancel</a>
     </div>
  </form>



