  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
              <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">TASKET BASKET</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active" ng-click="logout()"><a href="">Sign-out</a></li>
            <li><a href="/#/shop">Shop</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

    </div>
  </nav>
  <h1>TASKET/BASKET</h1>
    <div class="row">    <!-- <div class-'row'> -->
      <div ng-show='userComment'>
        <h2>Here are our weaver's comments <i class="fa fa-comment-o"></i> on their shopping experience with {{shop.company}}</h2>
        <span>
          <h2>Hello {{name}}!  This is what you said!</h2>
          <div contentEditable="true" ng-model="udateComment" title="Click to edit">
            <h3>{{currentUserComment}}</h3>
          </div>
          <button class="btn btn-danger"
                  ng-click="deleteComment()">
                  Delete
          </button>
          <button class="btn btn-primary"
                  ng-click="updateComment()">
                  Update
          </button>
          <button class="btn btn-danger"
                  ng-click="cancelComment()">
                  Cancel
          </button>
        </span>
      </div>
      <div ng-show="!userComment">
        <span>
          <textarea class='form-control' type="text" name="comment" ng-model="currentUserComment" placeholder="Write your comment here" rows="5"></textarea>
          <button class="btn btn-primary"
                  ng-click="saveComment()">
                  Save
          </button>
          <h2>Here are our weaver's comments <i class="fa fa-comment-o"></i> on their shopping experience with {{shop.company}}</h2>
        </span>
      </div>
    </div>

  <div ng-show='otherComments'>
    <h1>COMMENTS</h1>
    <table class='table'>
      <thead>
        <tr>
          <th>AUTHOR</th>
          <th>What they said:</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='comment in comments'>
          <td>{{comment.author}}</td>
          <td>{{comment.text}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show='!otherComments'>
    <h2>Be the first to leave a comment for this shop!</h2>
  </div>

