  <h1>TASKET/BASKET</h1>
    <div class="row">
      <h2>Select your shop</h2>
      <div ng-repeat="shop in shops | orderBy:'-baskets'" class="col-md-3 col-md-offset-1">
        <a href="{{shop.link}}" target="_blank">
          {{shop.title}}
        </a>
        <img src="{{shop.image}}" class="shop-image">
        <span class="fa fa-shopping-basket btn" ng-click="seeBaskets(shop.title)">
        </span>
        {{shop.baskets}}
        <span class="fa fa-comment-o btn" ng-click="seeComments(shop.title)">
        </span>
        {{shop.commentCount}}
      </div>
    </div>


